<?xml version="1.0"?>
  <!-- Initial setup from https://www.twilio.com/blog/improving-php-code-quality-php-codesniffer-phpcs-laravel -->

  <ruleset name="PHP_CodeSniffer">

  <description>PHPCS configuration file.</description>
  <file>src</file>

  <!-- exclude our migrations directory from the violation check-->
  <exclude-pattern>*/migrations/*</exclude-pattern>

  <!-- Our base rule: set to PSR12-->
  <rule ref="PSR12"/>

</ruleset>
