<?xml version="1.0"?>
  <!-- Initial setup from https://www.twilio.com/blog/improving-php-code-quality-php-codesniffer-phpcs-laravel -->

  <ruleset name="PHP_CodeSniffer">

  <description>PHPCS configuration file.</description>
  <file>src</file>

  <!-- exclude our migrations directory from the violation check-->
  <exclude-pattern>*/migrations/*</exclude-pattern>

  <!-- Our base rule: set to PSR12-->
  <rule ref="PSR12">
    <exclude name="PSR12.ControlStructures.ControlStructureSpacing.SpacingAfterOpenBrace"/>
    <exclude name="PSR12.ControlStructures.ControlStructureSpacing.SpaceBeforeCloseBrace"/>
    <exclude name="Squiz.Functions.FunctionDeclarationArgumentSpacing.SpacingAfterOpen"/>
    <exclude name="Squiz.Functions.FunctionDeclarationArgumentSpacing.SpacingBeforeClose"/>
  </rule>

  <rule ref="PSR2.Methods.FunctionCallSignature">
    <properties>
        <property name="requiredSpacesAfterOpen" value="1" />
        <property name="requiredSpacesBeforeClose" value="1" />
    </properties>
  </rule>

  <rule ref="PEAR.Functions.FunctionCallSignature">
    <properties>
        <property name="requiredSpacesAfterOpen" value="1" />
        <property name="requiredSpacesBeforeClose" value="1" />
    </properties>
  </rule>

  <rule ref="PSR2.ControlStructures.ControlStructureSpacing">
    <properties>
        <property name="requiredSpacesAfterOpen" value="1" />
        <property name="requiredSpacesBeforeClose" value="1" />
    </properties>
  </rule>

</ruleset>
